language: python
cache:
  pip: true
sudo: false
python:
  - "3.5"
  - "3.6"
  - "pypy3"
matrix:
  include:
    - python: "3.7"
      sudo: required
      dist: xenial
    - python: "nightly"
      sudo: required
      dist: xenial
  allow_failures:
    - python: "pypy3"
    - python: "nightly"
  fast_finish: true
script:
  - python -m unittest discover tests/tools
